/* reset stylesheet to reset browser defaults back to 0 */
@import url(reset.css);

/* two Google fonts we'll use */
@import url(https://fonts.googleapis.com/css?family=Cantora+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

